Rinku.Presentation/Service References/Services.Nomina/RinkuService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56842/Service/RinkuService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rinku.Domain" />
  <xs:element name="GetEmpleados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rinku.Domain" minOccurs="0" name="GetEmpleadosResult" nillable="true" type="q1:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUpdateEmpleados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rinku.Domain" minOccurs="0" name="emp" nillable="true" type="q2:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUpdateEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUpdateEmpleadosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpleados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rinku.Domain" minOccurs="0" name="emp" nillable="true" type="q3:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmpleadosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rinku.Domain" minOccurs="0" name="emp" nillable="true" type="q4:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Rinku.Domain" minOccurs="0" name="GetEmpleadoResult" nillable="true" type="q5:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUpdateMovimientos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Rinku.Domain" minOccurs="0" name="mov" nillable="true" type="q6:Movement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUpdateMovimientosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUpdateMovimientosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovimientos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechainicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovimientosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rinku.Domain" minOccurs="0" name="GetMovimientosResult" nillable="true" type="q7:ArrayOfMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovimientosByEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Rinku.Domain" minOccurs="0" name="emp" nillable="true" type="q8:Employee" />
        <xs:element minOccurs="0" name="fechainicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovimientosByEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Rinku.Domain" minOccurs="0" name="GetMovimientosByEmpleadoResult" nillable="true" type="q9:ArrayOfMovement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMoviento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Rinku.Domain" minOccurs="0" name="mov" nillable="true" type="q10:Movement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMovientoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechainicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Rinku.Domain" minOccurs="0" name="GetSalariosResult" nillable="true" type="q11:ArrayOfSalary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>