Rinku.Presentation/Service References/Services.Nomina/RinkuService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rinku.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rinku.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" type="xs:short" />
      <xs:element minOccurs="0" name="interno" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="Movement">
    <xs:sequence>
      <xs:element minOccurs="0" name="CubreRol" type="xs:short" />
      <xs:element minOccurs="0" name="CubreTurno" type="xs:boolean" />
      <xs:element minOccurs="0" name="Empleado" nillable="true" type="tns:Employee" />
      <xs:element minOccurs="0" name="Entregas" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movement" nillable="true" type="tns:Movement" />
  <xs:complexType name="ArrayOfMovement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movement" nillable="true" type="tns:Movement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovement" nillable="true" type="tns:ArrayOfMovement" />
  <xs:complexType name="ArrayOfSalary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Salary" nillable="true" type="tns:Salary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalary" nillable="true" type="tns:ArrayOfSalary" />
  <xs:complexType name="Salary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adicional" type="xs:decimal" />
      <xs:element minOccurs="0" name="BonoXHora" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiasLaborados" type="xs:int" />
      <xs:element minOccurs="0" name="Entregas" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MontoIva" type="xs:decimal" />
      <xs:element minOccurs="0" name="MontoTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PorcentajeIva" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rol" type="xs:short" />
      <xs:element minOccurs="0" name="Subtotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValesDespensa" type="xs:decimal" />
      <xs:element minOccurs="0" name="interno" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Salary" nillable="true" type="tns:Salary" />
</xs:schema>